<div>
  <h2 id="page-heading" data-cy="NotificationHeading">
    <span jhiTranslate="umbookv2App.notification.home.title">Notifications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="umbookv2App.notification.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-notification"
        [routerLink]="['/notification/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="umbookv2App.notification.home.createLabel"> Crear nuevo Notification </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="notifications?.length === 0">
    <span jhiTranslate="umbookv2App.notification.home.notFound">Ningún Notifications encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="notifications && notifications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contendio">
            <div class="d-flex">
              <span jhiTranslate="umbookv2App.notification.contendio">Contendio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emisor.id">
            <div class="d-flex">
              <span jhiTranslate="umbookv2App.notification.emisor">Emisor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="umbookv2App.notification.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notification of notifications; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/notification', notification.id, 'view']">{{ notification.id }}</a>
          </td>
          <td>{{ notification.contendio }}</td>
          <td>
            <div *ngIf="notification.emisor">
              <a [routerLink]="['/usuario', notification.emisor.id, 'view']">{{ notification.emisor.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="notification.user">
              <a [routerLink]="['/usuario', notification.user.id, 'view']">{{ notification.user.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/notification', notification.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/notification', notification.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(notification)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
