<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="comentario">
      <h2 data-cy="comentarioDetailsHeading"><span jhiTranslate="umbookv2App.comentario.detail.title">Comentario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ comentario.id }}</span>
        </dd>
        <dt><span jhiTranslate="umbookv2App.comentario.contenido">Contenido</span></dt>
        <dd>
          <span>{{ comentario.contenido }}</span>
        </dd>
        <dt><span jhiTranslate="umbookv2App.comentario.foto">Foto</span></dt>
        <dd>
          <div *ngIf="comentario.foto">
            <a [routerLink]="['/foto', comentario.foto.id, 'view']">{{ comentario.foto.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="umbookv2App.comentario.user">User</span></dt>
        <dd>
          <div *ngIf="comentario.user">
            <a [routerLink]="['/usuario', comentario.user.id, 'view']">{{ comentario.user.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/comentario', comentario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
