<div>
  <h2 id="page-heading" data-cy="ComentarioHeading">
    <span jhiTranslate="umbookv2App.comentario.home.title">Comentarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="umbookv2App.comentario.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comentario"
        [routerLink]="['/comentario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="umbookv2App.comentario.home.createLabel"> Crear nuevo Comentario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="comentarios?.length === 0">
    <span jhiTranslate="umbookv2App.comentario.home.notFound">Ningún Comentarios encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="comentarios && comentarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contenido">
            <div class="d-flex">
              <span jhiTranslate="umbookv2App.comentario.contenido">Contenido</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="foto.id">
            <div class="d-flex">
              <span jhiTranslate="umbookv2App.comentario.foto">Foto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="umbookv2App.comentario.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comentario of comentarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/comentario', comentario.id, 'view']">{{ comentario.id }}</a>
          </td>
          <td>{{ comentario.contenido }}</td>
          <td>
            <div *ngIf="comentario.foto">
              <a [routerLink]="['/foto', comentario.foto.id, 'view']">{{ comentario.foto.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="comentario.user">
              <a [routerLink]="['/usuario', comentario.user.id, 'view']">{{ comentario.user.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comentario', comentario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comentario', comentario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(comentario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
